@font-face {
    font-family: "subtituloFont";
    src: url(/src/styles/fonts/KdamThmorPro-Regular.ttf);
}

@font-face {
    font-family: "titulosCard";
    src: url(/src/styles/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "subtituloCard";
    src: url(/src/styles/fonts/Poppins-Regular.ttf);
}

.fondo {
    background-color: #3f3652;
    border-radius: 20px;
    padding: 30px;
    margin-top: 130px;
}

.subtitulo {
    font-family: "subtituloFont";
    color: white;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

/* PRIMERA ROW*/
.imagenPrincipal {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    z-index: 0;
}

.degradado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(255, 117, 81, 1), rgba(0, 0, 0, .5) 50%);
    z-index: 1;
}

.textoOverlay1 {
    font-family: "titulosCard";
    position: absolute;
    top: 20px;
    left: 35px;
    color: white;
    font-weight: bold;
    z-index: 2;
}

.textoOverlay2 {
    font-family: "subtituloCard";
    position: absolute;
    top: 65px;
    left: 50px;
    font-size: 15px;
    color: white;
    z-index: 2;
}

.textoOverlay3 {
    font-family: "subtituloCard";
    position: absolute;
    top: 90px;
    left: 115px;
    font-size: 15px;
    color: white;
    z-index: 2;
}

.textoOverlay4 {
    font-family: "subtituloCard";
    position: absolute;
    top: 115px;
    left: 50px;
    font-size: 15px;
    color: white;
    z-index: 2;
}

/* PERFIL */
.perfil-container {
    position: absolute;
    top: 160px;
    left: 35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
}

.perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partido-name {
    font-family: "titulosCard";
    position: absolute;
    top: 165px;
    left: 115px;
    color: white;
    z-index: 2;
}

.deporte-name {
    font-family: "subtituloCard";
    position: absolute;
    top: 190px;
    left: 115px;
    margin-top: 5px;
    font-size: 15px;
    color: white;
    z-index: 2;
}

/* SEGUNDA ROW */
.bodyCard {
    align-items: center;
}

.styleCard {
    margin-right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* RESPONSIVE */
@media (max-width: 576px) {

    .textoOverlay1 {
        top: 10px;
        left: 15px;
    }

    .textoOverlay2,
    .textoOverlay3,
    .textoOverlay4,
    .partido-name,
    .deporte-name {
        font-size: 0.8em;
        /* Tama침o de fuente m치s peque침o para pantallas muy peque침as */
    }

    .textoOverlay2 {
        top: 50px;
    }

    .textoOverlay3 {
        top: 70px;
        left: 110px;
    }

    .textoOverlay4 {
        top: 90px;
    }

    .perfil-container {
        top: 100px;
        left: 15px;
        width: 40px;
        height: 40px;
    }

    .partido-name {
        top: 105px;
        left: 70px;
    }

    .deporte-name {
        top: 120px;
        left: 70px;
    }

    .media {
        margin-top: 20px;
    }
}