@font-face {
    font-family: "subtituloFont";
    src: url(/src/styles/fonts/KdamThmorPro-Regular.ttf);
}

@font-face {
    font-family: "titulosCard";
    src: url(/src/styles/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "subtituloCard";
    src: url(/src/styles/fonts/Poppins-Regular.ttf);
}

.fondo {
    background-color: #3f3652;
    height: 100%;
    border-radius: 20px;
    padding: 30px;
    margin-top: 150px;
}

.subtitulo {
    font-family: "subtituloFont";
    color: white;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

/* PRIMERA ROW*/
.imagenPrincipal {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    z-index: 0;
}

.degradado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(255, 117, 81, 1), rgba(0, 0, 0, .5) 50%);
    z-index: 1;
}

.textoOverlay1 {
    font-family: "titulosCard";
    position: absolute;
    top: 20px;
    left: 35px;
    color: white;
    font-weight: bold;
    z-index: 2;
}

.textoOverlay2 {
    font-family: "subtituloCard";
    position: absolute;
    top: 65px;
    left: 50px;
    color: white;
    z-index: 2;
}

.textoOverlay3 {
    font-family: "subtituloCard";
    position: absolute;
    top: 105px;
    left: 160px;
    color: white;
    z-index: 2;
}

.textoOverlay4 {
    font-family: "subtituloCard";
    position: absolute;
    top: 145px;
    left: 50px;
    color: white;
    z-index: 2;
}

/* PERFIL */
.perfil-container {
    position: absolute;
    top: 195px;
    left: 35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
}

.perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partido-name {
    font-family: "titulosCard";
    position: absolute;
    top: 200px;
    left: 115px;
    color: white;
    z-index: 2;
}

.deporte-name {
    font-family: "subtituloCard";
    position: absolute;
    top: 225px;
    left: 115px;
    margin-top: 5px;
    font-size: 15px;
    color: white;
    z-index: 2;
}

/* SEGUNDA ROW */
.bodyCard {
    align-items: center;
}
.styleCard {
    margin-right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}