.evento-card {
    position: relative;
    /* Añade posicionamiento relativo al contenedor de cada evento */
    margin-bottom: 20px;
    /* Espacio entre eventos */
}

.evento-card img {
    max-width: 100%;
    height: auto;
}

.evento-details {
    position: absolute;
    /* Posicionamiento absoluto para superponer el texto */
    top: 0;
    /* Coloca el texto en la parte superior del evento */
    left: 0;
    /* Coloca el texto en la esquina superior izquierda del evento */
    background: rgba(0, 0, 0, 0.7);
    /* Fondo semitransparente para mejorar la legibilidad del texto */
    padding: 10px;
    /* Espacio alrededor del texto */
    color: white;
    /* Color del texto */
    border-top-left-radius: 15px;
    /* Coincide con el radio de la esquina del contenedor */
    border-bottom-right-radius: 15px;
    /* Coincide con el radio de la esquina del contenedor */
    width: 100%;
    /* Ancho completo del evento */
}

.evento-details h2 {
    margin: 0;
    /* Elimina el margen superior del título */
    font-size: 18px;
    /* Tamaño de fuente del título */
}

.evento-details p {
    margin: 5px 0;
    /* Espacio entre párrafos */
    font-size: 14px;
    /* Tamaño de fuente de los párrafos */
}

.evento-details a {
    color: #ff9900;
    /* Color del enlace "Ver detalles" */
    text-decoration: none;
    /* Elimina el subrayado del enlace */
    font-weight: bold;
}

.div1 {
    text-align: left;
    margin-left: 11%;
}

.main-content {
    padding-right: 0;
}

.imgPrinc {
    width: 50%;
}

.dropdown {
    background-color: transparent;

}