@font-face {
  font-family: "tituloPag";
  src: url(/src/styles/fonts/RussoOne-Regular.ttf);
}

.contenedorNav {
  background-color: #252836;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* HOME */
.logo {
  width: 90px;
  height: 90px;
}

.tituloPagina {
  margin-left: 10px;
  font-family: "tituloPag";
}

.botonHome {
  text-decoration: none;
  color: white;
}

.botonHome:hover {
  color: #82859a;
}

/* BUSCADOR */
.buscador {
  width: 40%;
}

/* AVATAR */
.avatar-container {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  color: white;
  font-weight: bold;
}

/* Dropdown Icon */
.dropdown-icon {
  color: white;
  /* Cambia el color del icono según tus preferencias */
}

/* Dropdown Menu and Items */
.dropdown-menu {
  background-color: #252836;
  /* Color de fondo del menú dropdown */
}

.dropdown-item {
  color: white;
  /* Color de texto de las opciones del menú dropdown */
}

.dropdown-item:hover {
  background-color: #82859a;
  /* Cambia el color al pasar el ratón por encima */
}