@font-face {
  font-family: "tituloPag";
  src: url(/src/styles/fonts/RussoOne-Regular.ttf);
}

.contenedorNav {
  background-color: #252836;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-right: 50px;
}

/* HOME */
.logo {
  width: 90px;
  height: 90px;
}

.tituloPagina {
  font-family: "tituloPag";
}

.botonHome {
  text-decoration: none;
  color: white;
}

.botonHome:hover {
  color: #ff7551;
}

/* AVATAR */
.avatar-container {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  color: white;
  font-weight: bold;
}

/* DROPDOWN */
.dropdown-icon {
  color: white;
}

.dropdown-menu {
  background-color: #252836;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #82859a;
}