@font-face {
  font-family: "sidebarFont";
  src: url(/src/styles/fonts/KdamThmorPro-Regular.ttf);
}

.contenedorSide {
  background-color: #3f3652;
  height: 100%;
  border-radius: 20px;
  margin-top: 43%;
}

.menu {
  text-align: center;
  padding-top: 30px;
  font-family: "sidebarFont";
  font-size: 35px;
}

/* LISTA CON ICONOS*/
.contenedorIcon {
  background-color: #ff7551;
  border-radius: 20px;
  padding-top: 1px;
  padding-left: 12px;
  width: 50px;
  height: 50px;
  font-size: 25px;

  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;

}

.icon {
  vertical-align: middle;
  font-size: 20px;
}

.hr {
  color: white;
  opacity: 0.5;

}