#sidebar {
    background-color: #252836;
    width: 250px; /* Ancho de la barra lateral */
    position: fixed; /* Fija la barra lateral en su posición */
    height: 100%; /* Establece la altura al 100% del contenedor padre */
    left: 0; /* Alinea la barra lateral a la izquierda */
    top: 0; /* Alinea la barra lateral en la parte superior */
    padding-top: 20px; /* Espaciado superior para el contenido de la barra lateral */
  }
  
  #sidebar ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
  }
  
  #sidebar .nav-link {
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .custom-bg-color {
    background-color: #252836;
    /* Otros estilos personalizados aquí, si es necesario */
  }
  
  /* Estilo para el logo */
  .logo-container {
    text-align: center; /* Alinea el contenido al centro */
    padding: 20px 0; /* Espaciado superior e inferior */
  }
  
  .logo {
    color: #fff; /* Color del texto del logotipo */
    font-size: 1.8rem; /* Tamaño de fuente del logotipo */
  }
  