

/* Borde del formulario con mouse */
.fila:hover {
  border: 2px solid #ff7551;
  border-radius:  20px 20px;
}

/* PRIMERA PARTE*/
.containerImagen{
  background-color: white;
  border-radius: 20px 0 0 20px;
}

/* Imagen */
#pelota {
  position: absolute;
  animation: rebota 1s alternate infinite ease-out;
}

@-webkit-keyframes rebota {
  0% {
    top: 600px;
    height: 50px;
  }
  10% {
    top: 560px;
    height: 100px;
  }
  100% {
    top: 200px;
    height: 100px;
  }
}

/* SEGUNDA PARTE */
.containerFormulario{
  background-color: #3f3652;
  border-radius:  0 20px 20px 0;
}

/* Formulario */
.formContainer{
  padding: 8% 10%;
}

.logoLogin{
  width: 30%;
  height: 30%;
}

.botonEnviar{
  height: 5%;
  font-weight: bold;
  font-size: 20px;
}

.linea input[type="text"], .linea input[type="password"] {
  width: 100%;
  padding: 10px;
}
