@font-face {
  font-family: "poppins";
  src: url(../styles/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "poppinsSimple";
  src: url(../styles/fonts/Poppins-Regular.ttf);
}

.fila {
  background: url(../img/arco.png);
  border-radius: 20px;
}

/* Borde del formulario con mouse */
.fila:hover {
  border: 2px solid #ff7551;
  border-radius: 20px;
}

/* PRIMERA PARTE*/
.containerImagen {
  background: url(../img/arco.png);
  border-radius: 20px;
}

.textoPrimero {
  position: absolute;
  top: 470px;
  left: 4%;
  font-size: 25px;
  font-family: "poppins";
  margin-bottom: 10px;
}

.textoSegundo {
  position: absolute;
  top: 520px;
  left: 25%;
  font-size: 15px;
  font-family: "poppinsSimple";
}

/* SEGUNDA PARTE */
.containerFormulario {
  background-color: #3f3652;
  border-radius: 20px;
  z-index: 1;
}

/* Formulario */
.formContainer {
  padding: 8% 10%;
}

.logoLogin {
  width: 30%;
  height: 30%;
}

.botonEnviar {
  height: 5%;
  font-weight: bold;
  font-size: 20px;
}

.linea input[type="text"],
.linea input[type="password"] {
  width: 100%;
  padding: 10px;
}

/* ANIMACIONES */
#dvd {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
  background-image: url("../img/pelotaFutbol.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
}