.fondoEstudio{
    background-color: #3f3652;
    border-radius: 20px;
    margin-top: 10%;
}

.sideBarAdmin{
    background-color: #ff7551;
    border-radius: 20px 0 0 20px;
}

.textoPanel{
    color: white;
    padding-top: 2%;
    padding-left: 2%;
}

.cardContenedor{
    background-color: white;
}

.overlayAdmin{
    position: relative;
}

.iconEliminar{
    position: absolute;
    top: 0;
    left: 80%;
    font-size: 190%;
    color: white;
}

.iconEditar{
    position: absolute;
    top: 3%;
    left: 5%;
    font-size: 120%;
    color: white;
    border: 2px solid white;
    padding: 0px 5px;
    padding-bottom: 4px;
    border-radius: 10px;
}

.tituloPublica{
    font-size: 12px;
}


/* AVATAR */
.containerAvatarStudio {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10% auto 0;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.avatarStudio {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.usuarioStudio {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.contenedorAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.contenedorIconStudio{
    background-color: #3f3652;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    font-size: 25px;
}

.iconStudio{
    font-size: 15px;
    vertical-align: middle;
    font-size: 15px;
}

.navStudio{
    margin-left: -10px;
    margin-bottom: 20px;
    list-style-type: none; /* Elimina los puntos de la lista */
    padding-left: 0;
}

.linkStudio{
    margin: 10px;
}

/* RESPONSIVE */
@media (max-width: 576px) {
    .fondoEstudio{
        margin-top: 120px;
    }
    .sideBarAdmin{
        border-radius: 20px;
    }
    .textoPanel{
        margin-top: 20px;
    }
}