.fondoVivo {
    background-color: #3f3652;
    margin-top: 10%;
    border-radius: 20px;
}

/* FILA 1*/
.contenedorPrimeraFila {
    margin-top: 2%;
}

.contenedorIconVivo {
    background-color: #ff7551;
    border-radius: 40px;
    width: 70px;
    height: 70px;
    padding-left: 15px;
    font-size: 40px;
    color: white;
    margin-left: 30px;
}

.textoVivo {
    color: white;
    font-size: 45px;
}

/* FILA 2*/
.hr {
    color: #82859a;
    opacity: 0.5;
}

/* FILA 3*/
.filaCard {
    margin-top: 20px;
}

/*STYLE CARDS*/
.styleCard {
    background-color: transparent;
    border: transparent;
}

.imagenVivo {
    border-radius: 10px;
    z-index: 0;
}

.vivoOverlay {
    background-color: red;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 23px;
    border-radius: 5px;
    color: white;
    padding: 0 9px;
    font-weight: bold;
    font-size: 15px;

    z-index: 1;
}

.iconoVivo {
    margin-bottom: 5px;
}

/* PERFIL DE CARD*/
.perfilCard {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    overflow: hidden;
}

.imagenCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bodyCard {
    display: flex; 
    align-items: center; 
    text-align: center; 
}

.tituloCard {
    color: white;
    font-weight: 500px;
    font-size: 15px;
}

.nombrePerfil {
    font-size: 13px;
    color: white;
}

.perfilesViendo {
    margin-top: -10px;
    font-size: 10px;
    color: white;
}

.descripcionCard {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* RESPONSIVE */
@media (max-width: 576px) {
    .fondoVivo {
        margin-top: 125px;
    }

    .contenedorPrimeraFila {
        display: flex;
        margin: 0 50px;
        margin-top: 30px;
    }

    .contenedorIconVivo {
        margin: 0 50px 2px 50px;
    }
}